*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/server/src/main/java/com/twitter/server/StorageUnit/tweet_attachments/*.jpg
/server/src/main/java/com/twitter/server/StorageUnit/tweet_attachments/*.jpeg
/server/src/main/java/com/twitter/server/StorageUnit/tweet_attachments/*.png
/server/src/main/java/com/twitter/server/StorageUnit/tweet_attachments/*.webp
/server/src/main/java/com/twitter/server/StorageUnit/tweet_attachments/*.mp4
/server/src/main/java/com/twitter/server/StorageUnit/tweet_attachments/*.wav
